extends layout

block content
    #top.box(onmousedown="put('/move/back')",onmouseup="put('/move/not')") vor
    #left.box(onmousedown="put('/move/left')",onmouseup="put('/move/not')") links
    button#grab.btn.btn-huge.btn-primary(onclick="put('/grab')") candy
    #right.box(onmousedown="put('/move/right')",onmouseup="put('/move/not')") rechts
    #bottom.box(onmousedown="put('/move/front')",onmouseup="put('/move/not')") zur&uuml;ck
    #status.box status

    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/js/orientation.js')
