doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= title
        block css
            link(rel='stylesheet', href='/css/style.css')
            link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
        block js
            if ENV_DEVELOPMENT
                script(src='http://localhost:35729/livereload.js')
    body
        #warning.alert.alert-danger please use landscape mode
        block content
