html {
    min-height: 100%;
    height: 100%;
    max-height: 100%;

}

body {
    padding: 25px;
    font-size: 2em;
    text-align: center;

    min-height: 80%;
    height: 80%;
    max-height: 80%;
}

a {
    color: #00B7FF;
}

.box {
    border-width: thin;
    border-style: solid;
    border-color: #337ab7;
}

.active {
    background-color: limegreen;
}

#status {
    position: fixed;
    top: 2%;
    right: 2%;
    font-size: small;
    color: crimson;
}

#top {
    width: 100%;
    height: 10%;
}
#left {
    float: left;
    width: 10%;
    height: 100%;
}

#grab {
    float: left;
    width: 80%;
    height: 100%;
}

#right {
    float: left;
    width: 10%;
    height: 100%;
}

#bottom {
    float: left;
    width: 100%;
    height: 10%;
}

.btn-huge {
    height: 100%;
    width: 100%;
}